.login-card {
  max-width: 400px;
  margin: 50px auto; /* Centers the card */
  
  text-align: center; /* Centers the title text */
  border-radius: 12px; /* Rounds the corners */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Adds a prominent shadow */
  background-color: #ffffff; /* White background for contrast */
}

.login-form {
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  align-items: center; /* Centers the button */
  gap: 1px; /* Spacing between elements */
}

mat-form-field {
  background-color: #ffffff; /* White background, same as the card */
  border-radius: 4px; /* Rounds the edges of the input fields */
  margin: 0; /* Removes additional margins */
}

input {
  padding: 0; /* Removes internal padding */
}

.full-width {
  width: 100%; /* Input fields take up the full width */
}

.login-button {
  width: auto; /* Adapts width to content */
  display: flex; /* Flexible layout to align icon and text */
  align-items: center; /* Vertically aligns icon and text */
  justify-content: center; /* Centers the entire content */
  gap: 8px; /* Space between icon and text */
  padding: 8px 16px; /* Adds internal spacing */
  font-size: 16px; /* Text size */

  &:hover {
    background-color: #005bb5; /* Changes color on hover */
  }

  &:active {
    background-color: #003f7f; /* Darker color when clicked */
  }

  &:focus {
    outline: 2px solid #82b1ff; /* Adds a border for focus */
    outline-offset: 2px;
  }
}
