.list-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;

  .todo-form {
	  display: flex; /* Disposizione flessibile per allineamento */
	  align-items: revert; /* Allinea verticalmente al centro */
	  gap: 15px; /* Spazio tra input e pulsante */

  .full-width {
    flex: 1; /* L'input occupa tutto lo spazio disponibile */
  }

  button {
    flex-shrink: 0; /* Impedisce al pulsante di ridimensionarsi */
    height: 56px; /* Altezza del pulsante uguale a quella dell'input */
    width: 56px; /* Per pulsanti circolari */
    display: flex; /* Centra l'icona all'interno */
    align-items: center;
    justify-content: center;
  }
  }

  .todo-list {
    margin-top: 20px;

    .todo-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 15px;
      background-color: #f9f9f9;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      .todo-content {
        display: flex;
        flex-direction: column; /* Posiziona descrizione e utente verticalmente */
      
        .todo-text {
          flex: 1;
          text-align: left;
          font-size: 16px;
          color: #333;
        }

        .todo-user {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: gray;
          margin-top: 5px; /* Distanza dalla descrizione */
        }
        
        .user-icon {
          margin-right: 5px;
          color: #607d8b; /* Colore dell'icona */
        }
      
      }
      

      .todo-icon {
        flex-shrink: 0;
        text-align: right;
      }
    }
    .todo-row.selected {
      background-color: #cbd6e0; /* Colore di evidenziazione */
    }
  }
  
}
