.todo-list {
  max-height: calc(100vh - 200px); /* Altezza massima relativa alla viewport, meno la form */
  overflow-y: auto; /* Permette lo scroll verticale */
  margin-top: 20px; /* Distanza dalla form */
  width:calc(100% - 20px);
  margin-left:10px;
  margin-right:10px;
}

.todo-item {
  margin-bottom: 15px; /* Spazio tra le card */
  border-radius: 12px;
}

.todo-content {
  display: flex;
  flex-direction: column; /* Organizza user e description verticalmente */
}

.todo-user {
  display: flex;
  align-items: center; /* Allinea l'icona e il testo dell'utente */
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.user-icon {
  margin-right: 8px;
  color: #007bff; /* Colore dell'icona utente */
}

.mymaterial-icons {
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: #5a5094;
  
}

.mymaterial-icons.selected {
  font-size: 28px;
  height: 28px;
  width: 28px;
  color:  #007bff;
  border-bottom: 2px solid #020531;
}

.mybutton-icon {
  font-size: 28px;
  height: 24px;
  width: 24px;
  color: #f9f9f9;
  
}

.todo-text {
  flex: 1; /* Occupa tutto lo spazio disponibile a sinistra */
  text-align: left; /* Allinea il testo a sinistra */
  font-size: 16px; /* Dimensione del font */
  color: #333; /* Colore del testo */
  
  
}
.todo-cockpit {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Leggera ombra */
  margin-bottom: 20px; /* Spazio sotto la form */
  flex-shrink: 0;
  flex:0;
}
.todo-form {
  display: flex;
  align-items: flex-start; /* Allinea input e pulsante in alto */
  gap: 16px; /* Spazio tra input e pulsante */
  padding: 16px 16px 1px 16px; /* Spaziatura interna */
  background: #ffffff; /* Sfondo bianco */
}

mat-card-content.mat-mdc-card-content {
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 1px;
    
  
}

.full-width {
  flex: 1; /* L'input occupa tutto lo spazio disponibile */
}

button {
  flex-shrink: 0; /* Impedisce al pulsante di ridimensionarsi */
  height: 56px; /* Altezza del pulsante */
}

.mymaterial-button {
  flex-shrink: 0; /* Impedisce al pulsante di ridimensionarsi */
  height: 56px; /* Altezza del pulsante */
  background-color: #003f7f;
  border-radius: 30%;
  &:hover {
    background-color: #005bb5; /* Cambia colore al passaggio del mouse */
  }

  &:active {
    background-color: #003f7f; /* Colore più scuro quando cliccato */
  }

  &:focus {
    outline: 2px solid #82b1ff; /* Aggiungi un bordo per il focus */
    outline-offset: 2px;
  }
}

.todo-row {
  display: flex; /* Attiva Flexbox */
  justify-content: space-between; /* Sposta gli elementi ai lati opposti */
  align-items: center; /* Allinea verticalmente al centro */
  padding: 8px; /* Spaziatura interna per rendere il layout più gradevole */
  
}
.todo-item.selected {
  background-color: #e0e0e9; /* Colore di sfondo */
}
.todo-content {
  display: flex;
  flex-direction: column; /* Organizza utente e descrizione in verticale */
  flex: 1; /* Occupa tutto lo spazio disponibile nella colonna sinistra */
  gap: 4px; /* Spaziatura tra utente e descrizione */
  border-right: 1px solid #e0e0e0;
}

.todo-filter {
  display: flex; /* Allinea i pulsanti in orizzontale */
  justify-content: space-around; /* Distribuisce i pulsanti equamente */
  align-items: center; /* Allinea verticalmente */
  padding: 1px 1px; /* Spaziatura interna */
  border-top: 1px solid #e0e0e0; /* Linea di separazione sopra il footer */
  background-color: hsl(313, 20%, 91%); /* Colore di sfondo del footer */
 }

.todo-footer button {
  display: flex;
  flex-direction: column; /* Dispone icona e testo verticalmente */
  align-items: center; /* Centra gli elementi */
}

.todo-footer mat-icon {
  font-size: 24px; /* Dimensione dell'icona */
}
