<div class="todo-cockpit">
  <div class="todo-form">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ isEditing ? 'Edit item' : 'Add item' }}</mat-label>
      <input matInput [(ngModel)]="currentDescription" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveTodo()">
      {{ isEditing ? 'Save' : 'Add' }}
    </button>
  </div>
  <div class="todo-filter">
    <button mat-icon-button color="primary" (click)="filterTodos('all')">
      <mat-icon class="mymaterial-icons" [ngClass]="{ 'selected': currentFilter == 'all' }">text_snippet</mat-icon>
      
    </button>
    <button mat-icon-button color="accent" (click)="filterTodos('open')">
      <mat-icon class="mymaterial-icons" [ngClass]="{ 'selected': currentFilter == 'open' }">check_box_outline_blank</mat-icon>
      
    </button>
    <button mat-icon-button color="warn" (click)="filterTodos('selected')">
      <mat-icon class="mymaterial-icons" [ngClass]="{ 'selected': currentFilter == 'selected' }">check_box</mat-icon>
      
    </button>
  </div>
</div>


<!-- Lista degli item -->
<div class="todo-list">
  <mat-card *ngFor="let todo of todos" class="todo-item" (click)="editTodo(todo)" [ngClass]="{ 'selected': selectedTodo?.id === todo.id }">
    <mat-card-content>
    <!-- Descrizione e Pulsante (Stessa Riga) -->
    <div class="todo-row">
      <!-- Prima colonna: Utente e Testo -->
      <div class="todo-content">
        <div class="todo-user">
          <mat-icon class="user-icon">account_circle</mat-icon>
          <span>{{ todo.user }}</span>
        </div>
        <div class="todo-text">{{ todo.description }}</div>
      </div>
    
      <!-- Seconda colonna: Pulsante con icona -->
      <button
        mat-icon-button
        color="primary"
        (click)="updateTodoStatus(todo); $event.stopPropagation()">
        <mat-icon> {{ todo.status==0 ? 'check_box_outline_blank' : 'check_box' }}</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteTodo(todo.id); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    
    </mat-card-content>
  </mat-card>
  
  
</div>



