/* Style for the welcome message */
h1 {
  font-family: Arial, sans-serif;
  color: #3f51b5; /* Material theme Indigo color */
  text-align: center;
}

/* Style for the navigation bar */
nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;

  a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #3f51b5;
    transition: color 0.3s;

    &:hover {
      color: #ff4081; /* Material theme Pink color */
    }

    &.active {
      color: #ff4081;
      border-bottom: 2px solid #ff4081;
    }
  }
}

/* Main container */
div {
  padding: 0px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.spacer {
  flex: 1;
}

.content {
  padding: 0px;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0; /* Removes default margins */
  padding: 0px;
}

.app-header {
  display: flex;
  height: 64px; /* Toolbar height */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
}

.app-content {
  flex: 1; /* Expands content to fill available space */
  padding: 1px;
  width: 100%;
  //overflow: auto; /* Adds scroll for long content */
  background-color: #f5f5f5; /* Background color to differentiate the content area */
}
