/* Stile per il messaggio di benvenuto */
h1 {
  font-family: Arial, sans-serif;
  color: #3f51b5; /* Colore del tema Material Indigo */
  text-align: center;
}

/* Stile per la barra di navigazione */
nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;

  a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #3f51b5;
    transition: color 0.3s;

    &:hover {
      color: #ff4081; /* Colore del tema Material Pink */
    }

    &.active {
      color: #ff4081;
      border-bottom: 2px solid #ff4081;
    }
  }
}

/* Contenitore principale */
div {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.spacer {
  flex: 1;
}
.content {
  padding: 20px;
}
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0; /* Elimina margini predefiniti */
}

.app-header {
  display: flex;
  height: 64px; /* Altezza toolbar */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombra */
}

.app-content {
  flex: 1; /* Espande il contenuto per occupare lo spazio disponibile */
  padding: 1px;
  overflow: auto; /* Aggiunge uno scroll per contenuti lunghi */
  background-color: #f9f9f9; /* Colore di sfondo per differenziare l'area di contenuto */
}


